section#title {
  
}
section#title div.titlewrap {
  margin: 0;
}
section#title div.commtitle {
  
  height: 700px;
  background-color: black;
  background-position: center;
  background-size: cover;
}
section#title div.commtitle div.wrap {
  
  height: 100%;
}
section#title div.commtitle div.wrap iframe {
  
  width: 100%;
  height: 100%;
}
section#title div.commtitle div.wrap div.title-inner {
  
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}
section#title div.commtitle div.wrap div.title-inner h2 {
  
  display: flex;
  flex-direction: column;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.25;
}
section#title div.commtitle div.wrap div.title-inner h2 span {
  
  font-size: 18px;
  font-weight: 500;
}
section#title div.commtitle div.wrap div.title-inner a.viewmore {
  
  color: white;
  background-color: red;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 35px;
}
section#title div.title1 {
  background-image: url(../img/title/1.jpg);
}
section#title div.title2 {
  
}
section#title div.title3 {
  
}
section#title div.title4 {
  
}
section#title div.title5 {
  background-image: url(../img/title/2.jpg);
}
section#title div.title6 {
  background-image: url(../img/title/3.jpg);
}
section#title div.title7 {
  background-image: url(../img/title/4.jpg);
  color: white;
}
section#title div.title8 {
  background-image: url(../img/title/5.jpg);
}

section#title button.slick-prev , section#title button.slick-next {
  z-index: 5;
  width: 75px;
  height: 75px;
  opacity: 0.75;
}
section#title button.slick-prev:hover , section#title button.slick-next:hover {
  opacity: 1;
}
section#title button.slick-prev {
  left: 250px;
  background-image: url(../img/icon/prev.svg);
}
section#title button.slick-next {
  right: 250px;
  background-image: url(../img/icon/next.svg);
}
section#title button.slick-prev::before , section#title button.slick-next::before {
  display: none;
}

section#title .slick-dots {

  bottom: 50px;
}
section#title .slick-dots .slick-active {

}
section#title .slick-dots li {

  width: 120px;
  height: 60px;
  margin: 0 10px;
}
section#title .slick-dots .slick-active button {

}
section#title .slick-dots li button {
  
  width: 100%;
  height: 100%;
}
section#title .slick-dots .slick-active button::before {

  color: red;
}
section#title .slick-dots li button::before {
  
  width: 100%;
  height: 100%;
  white-space: pre;
  font-size: 14px;
  text-align: center;
  font-weight: 900;
  color: gray;
  border-bottom: 3px solid;
}

section#title .slick-dots li:nth-child(1) button::before{
  content:"존경받는 \A 기업 1위";
}
section#title .slick-dots li:nth-child(2) button::before{
  content:"미니멀라이프 시작! \A 북스캐너 R40";
}
section#title .slick-dots li:nth-child(3) button::before{
  content:"독보적 초경량 \A 풀프레임의 탄생";
}
section#title .slick-dots li:nth-child(4) button::before{
  content:"크리에이터 도전? \A 캐논이 다~ 알아서";
}
section#title .slick-dots li:nth-child(5) button::before{
  content:"퍼펙트 \A 퀄리티 매니저 \A EOS R50";
}
section#title .slick-dots li:nth-child(6) button::before{
  content:"브이로그 카메라 \A 파워샷 V10";
}
section#title .slick-dots li:nth-child(7) button::before{
  content:"iR ADV DX 4800 \A series";
}
section#title .slick-dots li:nth-child(8) button::before{
  content:"QX10 \A 프로모션";
}