section#total {
  
}
section#total div.wrap {
  
}
section#total div.wrap h2 {
  
  font-size: 70px;
  font-weight: 700;
  line-height: 2.5;
}
section#total div.wrap ul.total-list {
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 30px;
}
section#total div.wrap ul.total-list li {
  
}
section#total div.wrap ul.total-list li:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}
section#total div.wrap ul.total-list li:nth-child(5) {
  
  grid-row: 1/span2;
  grid-column: 3;
}
section#total div.wrap ul.total-list li a.total-img {
  
  display: block;
  border-radius: 25px;
  overflow: hidden;
}
section#total div.wrap ul.total-list li a.total-img img {
  scale: 1;
  transition: 0.5s;
}
section#total div.wrap ul.total-list li a.total-img img:hover {
  scale: 1.1;
}
section#total div.wrap ul.total-list li div.total-text {
  
  padding: 25px 10px;
  box-sizing: border-box;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
section#total div.wrap ul.total-list li h3 {
  
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
section#total div.wrap ul.total-list li div.total-info-list {
  
  display: flex;
  gap: 10px;
}
section#total div.wrap ul.total-list li div.total-info-list a.total-info {
  
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;
}